{% extends 'base.html' %}
{% block title %} Password Reset Confirm {% endblock %}
{% block content %}
{% if validlink %}  
<h2> Reset your Password </h2>
<p>Enter your password twice </p>
<form action="" method="post">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" value="Reset Password">
</form>
{% else %}
<h2> Invalid Link </h2>
<p> The link is invalid or has expired. </p>
<p> Would you like to <a href="{% url 'password_reset' %}">reset your password?</a></p>
{% endif %}
{% endblock %}
